@model PromoConfigureModel

<style>

    .company-logo {
        max-height: 40px;
    }
    .promo-help-area {
        border: solid 1px silver; margin: 5px; padding: 10px; border-radius: 5px; margin-bottom: 15px;
    }

    .promo-help-title {
        vertical-align: middle;
        font-size: 1.0em; font-weight: bold
    }

    .promo-help-steps-title {
        margin-left:20px; margin-top: 10px;
    }

    .promo-help-steps {
        margin-left: 10px;
        padding-top: 5px;
    }

    .promo-help-step-item {
        padding-bottom: 4px;
    }

</style>
<table class="adminContent" style="margin-bottom: 20px;">
    <tr>
        <td>
            <div style="float: right; display: inline-block;">
                <div style="float: right;  display: inline-block;">
                    <img class="company-logo" src="http://www.qixol.com/wp-content/uploads/2013/06/quixolLogoWebMed1.png">
                </div>
            </div>
        </td>
    </tr>
    <tr>    
        <td>
            <div class="promo-help-area">
                <div class="promo-help-title">
                    <img src="/Administration/Content/images/ico-help.gif" style="vertical-align: bottom;">
                    @T("Plugins.Misc.QixolPromo.Help.Title")
                </div>

                <div class="promo-help-steps-title">
                    <div>@T("Plugins.Misc.QixolPromo.Help.Steps.Title")</div>
                    <div class="promo-help-steps">
                        <div class="promo-help-step-item">@T("Plugins.Misc.QixolPromo.Help.Steps.1.a")<a href="http://admin.qixolpromo.com/account/register?companyType=2" target="_blank">@T("Plugins.Misc.QixolPromo.Help.Steps.1.b")</a>@T("Plugins.Misc.QixolPromo.Help.Steps.1.c")</div>
                        <div class="promo-help-step-item">@T("Plugins.Misc.QixolPromo.Help.Steps.2")</div>
                        <div class="promo-help-step-item">@T("Plugins.Misc.QixolPromo.Help.Steps.3")</div>
                        <div>@T("Plugins.Misc.QixolPromo.Help.Steps.4.a")</div>
                        <div class="promo-help-step-item" style="margin-left: 14px;">
                            <div>@T("Plugins.Misc.QixolPromo.Help.Steps.4.b")</div>
                            <div>@T("Plugins.Misc.QixolPromo.Help.Steps.4.c")</div>
                            <div>@T("Plugins.Misc.QixolPromo.Help.Steps.4.d")</div>
                        </div>
                        <div>@T("Plugins.Misc.QixolPromo.Help.Steps.5.a")</div>
                        <div class="promo-help-step-item" style="margin-left: 14px;">
                            <div>@T("Plugins.Misc.QixolPromo.Help.Steps.5.b")</div>
                            <div>@T("Plugins.Misc.QixolPromo.Help.Steps.5.c")</div>
                        </div>
                        <div>@T("Plugins.Misc.QixolPromo.Help.Steps.6.a")</div>
                        <div class="promo-help-step-item" style="margin-left: 14px;">
                            <div>@T("Plugins.Misc.QixolPromo.Help.Steps.6.b")</div>
                            <div>@T("Plugins.Misc.QixolPromo.Help.Steps.6.c")</div>                            
                            <div>@T("Plugins.Misc.QixolPromo.Help.Steps.6.d")</div>
                        </div>
                    </div>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="promo-help-area">
                <div class="promo-help-title">
                    <img src="/Administration/Content/images/ico-help.gif" style="vertical-align: bottom;">
                    @T("Plugins.Misc.QixolPromo.Help.Resources.Title")
                </div>
                <div class="promo-help-steps-title">
                    <div><a href="http://help.qixolpromo.com" target="_blank">@T("Plugins.Misc.QixolPromo.Help.Resources.HelpGuide")</a></div>
                    <div><a href="https://vimeo.com/channels/qixolpromo" target="_blank">@T("Plugins.Misc.QixolPromo.Help.Resources.Tutorials")</a></div>
                    <div><a href="http://www.qixolpromo.com" target="_blank">@T("Plugins.Misc.QixolPromo.Help.Resources.ProductOverview")</a></div>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            @if (Model.ShowHelperMessages)
            { 
                <div style="float: left; margin-left: 10px; margin-top: 8px;">
                    <table>
                        <tr>
                            <td class="adminTitle">
                                @Html.NopLabelFor(model => model.ShowHelperMessages):
                            </td>
                            <td class="adminData">
                                @Html.EditorFor(model => model.ShowHelperMessages)
                            </td>
                        </tr>
                    </table>
                </div>
            }
            <div style="float: right; display: inline-block;">
                <div style="text-align: right; margin-right: 10px; margin-top: 8px; color: #009FFF; display: inline-block;">
                    <div style="font-weight: bold;">@T("Plugins.Misc.QixolPromo.ProductTitle")</div>
                    <div>@T("Admin.Configuration.Plugins.Fields.Version"): @Model.DisplayVersion</div>
                </div>                
            </div>
        </td>
    </tr>
</table>   