@model MissedPromotionsModel

@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("Plugins.Misc.QixolPromo.MissedPromotions.PageTitle").Text);

}

<div class="page checkout-page missed-promotions-page">
    @Html.Action("PromoCheckoutProgress", "PromoCheckout", new { step = PromoCheckoutProgressStep.MissedPromotions })
    <div class="page-title">
        <h1>@T("Plugins.Misc.QixolPromo.MissedPromotions.PageTitle")</h1>
    </div>
    <div class="page-body checkout-data">
        <div class="section missed-promotions">
            @Html.Partial("MissedPromotionsSummary", Model)
        </div>
        @if (true)
            {
                <div class="buttons">
                    <input type="button" name="nextstep" value="@T("Checkout.NextButton")" class="button-1 missed-promotions-next-step-button" onclick="window.location='@Url.RouteUrl("CheckoutBillingAddress")';" />
                </div>
            }
        <div class="section order-summary">
            <div class="title">
                <strong>@T("Checkout.OrderSummary")</strong>
            </div>
            @Html.Action("OrderSummary", "ShoppingCart")
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        promoAjaxCart.init();
    });
</script>