@model ProductBoxPromotionModel


@{
    var webHelper = EngineContext.Current.Resolve<IWebHelper>();
    var themeName = EngineContext.Current.Resolve<IThemeContext>().WorkingThemeName;

    Html.AppendCssFileParts(ResourceLocation.Head, string.Format("~/Plugins/Widgets.QixolPromo/Themes/{0}/Content/css/styles.css", themeName));
}

<script type="text/javascript">

    $(document).ready(function () {
        var promotionDivHtml = $('#promotionImage[data-productid="@Model.Id"]').html();
        $('.product-item[data-productid="@Model.Id"]').find('.picture').before(promotionDivHtml);
    });

</script>

<div id="promotionImage" data-productid="@Model.Id" style="visibility: hidden;">
    <span class="promotion"><img alt="@Model.Id" src="@Model.ImageUrl" /></span>
</div>