@model IssuedCouponsModel

@using global::Nop.Core
@using global::Nop.Core.Infrastructure
@using global::Nop.Web.Models.ShoppingCart;
@using global::Nop.Web.Framework.Themes;

<style>
    .promotion-item {
        color: #4ab2f1;
        font-style: italic;
        font-weight: normal;
    }
    .coupon-item {
        font-weight: bold;
    }
</style>

@foreach(var issuedCoupon in Model.Coupons)
{
    <tr class="cart-item-row cart-coupon-row">
        @if (Model.IsEditable)
        {
            <td class="remove-from-cart">
            </td>
        }
        @if (Model.ShowSku)
        {
            <td class="sku nobr">
            </td>
        }
        @if (Model.ShowProductImages)
        {
            <td class="product-picture">
            </td>
        }
        <td class="product">
            <div>
                @if (issuedCoupon.IsConfirmed)
                {
                    @T("Plugin.Misc.QixolPromo.Coupon.YouReceived")
                }
                else
                { 
                    @T("Plugin.Misc.QixolPromo.Coupon.YouWillReceive")
                }
            </div>

            @if (!string.IsNullOrEmpty(issuedCoupon.DisplayText))
            { 
                <div class="promotion-item">
                    @issuedCoupon.DisplayText
                </div>
            }

            @if (issuedCoupon.IsConfirmed && !string.IsNullOrEmpty(issuedCoupon.Code))
            { 
                <div>
                    <span class="nobr">@T("Plugin.Misc.QixolPromo.Coupon.Code"): </span>
                    <span class="coupon-item">@issuedCoupon.Code</span>
                </div>
            }
        </td>
        <td class="unit-price nobr">
        </td>
        <td class="qty nobr">
        </td>
        <td class="subtotal nobr end">
        </td>
    </tr>
}