@model AddPromoBannerPictureModel

@{
    var pictureService = EngineContext.Current.Resolve<Nop.Services.Media.IPictureService>();
}

<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-body">
            <div id="promobannerpictures-grid"></div>
            @Html.HiddenFor(m => Model.BannerId)
        </div>
    </div>

</div>

<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            @T("Plugins.Widgets.QixolPromo.BannerPicture.AddNewTitle")
        </div>
        <div class="panel-body">
            <div class="form-group">
                <div class="col-md-3">
                    @Html.NopLabelFor(model => model.PictureId)
                </div>
                <div class="col-md-9">
                    @Html.NopEditorFor(model => model.PictureId)
                    @Html.ValidationMessageFor(model => model.PictureId)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    @Html.NopLabelFor(model => model.PromoReference)
                </div>
                <div class="col-md-9">
                    @Html.NopEditorFor(model => model.PromoReference)
                    @Html.ValidationMessageFor(model => model.PromoReference)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    @Html.NopLabelFor(model => model.DisplaySequence)
                </div>
                <div class="col-md-9">
                    @Html.NopEditorFor(model => model.DisplaySequence)
                    @Html.ValidationMessageFor(model => model.DisplaySequence)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    @Html.NopLabelFor(model => model.Comment)
                </div>
                <div class="col-md-9">
                    @Html.NopEditorFor(model => model.Comment)
                    @Html.ValidationMessageFor(model => model.Comment)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    @Html.NopLabelFor(model => model.Url)
                </div>
                <div class="col-md-9">
                    @Html.NopEditorFor(model => model.Url)
                    @Html.ValidationMessageFor(model => model.Url)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">&nbsp;</div>
                <div class="col-md-9">
                    <input type="button" id="addPromoBannerPicture" class="btn bg-blue" value="@T("Plugins.Widgets.QixolPromo.BannerPicture.AddButton")" />
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#promobannerpictures-grid").kendoGrid({
            dataSource: {
                type: "json",
                transport: {
                    read: {
                        url: "/Admin/PromoBanner/Admin/Banner/List?id=@Model.BannerId",
                        type: "POST",
                        dataType: "json"
                    },
                    update: {
                        url: "/Admin/PromoBanner/Admin/Banner/Edit",
                        type: "POST",
                        dataType: "json"
                    },
                    destroy: {
                        url: "/Admin/PromoBanner/Admin/Banner/Delete",
                        type: "POST",
                        dataType: "json"
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors",
                    model: {
                        id: "Id",
                        fields: {
                            Comment: { editable: true, type: "string" },
                            DisplaySequence: { editable: true, type: "number" },
                            PromoReference: { editable: true, type: "string" },
                            Url: { editable: true, type: "string" },
                            PictureUrl: { editable: false, type: "string" }
                        }
                    }
                },
                requestEnd: function (e) {
                    if (e.type == "destroy" || e.type == "update") {
                        this.read();
                    }
                },
                error: function (e) {
                    display_kendoui_grid_error(e);
                    // Cancel the changes
                    this.cancelChanges();
                },
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true
            },
            pageable: {
                refresh: true,
                numeric: false,
                previousNext: false,
                info: false
            },
            editable: {
                confirmation: true,
                mode: "inline"
            },
            scrollable: false,
            columns: [{
                field: "PictureUrl",
                title: "@T("Plugins.Widgets.QixolPromo.BannerPicture.Picture")",
                template: '<a href="#=PictureUrl#" target="_blank"><img alt="#=PictureId#" src="#=PictureUrl#" width="80" /><a/>',
                width: 100
            }, {
                field: "PromoReference",
                title: "@T("Plugins.Widgets.QixolPromo.BannerPicture.PromoRef")",
            }, {
                field: "Comment",
                title: "@T("Plugins.Widgets.QixolPromo.BannerPicture.Comment")",
            }, {
                field: "Url",
                title: "@T("Plugins.Widgets.QixolPromo.BannerPicture.Url")",
            }, {
                field: "DisplaySequence",
                title: "@T("Plugins.Widgets.QixolPromo.BannerPicture.DisplaySequence")",
                headerAttributes: { style: "text-align:center" },
                attributes: { style: "text-align:center" },
                width: 100,
                format: "{0:0}"
            }, {
                command: [{
                    name: "edit",
                    text: "@T("Admin.Common.Edit")"
                }, {
                    name: "destroy",
                    text: "@T("Admin.Common.Delete")"
                }],
                headerAttributes: { style: "text-align:center" },
                attributes: { style: "text-align:center" },
                width: 200
            }]
        });
    });
</script>

<script type="text/javascript">

    $(document).ready(function () {

        $("#promobannerpictures-grid table").on("keydown", "tr", function (e) {
            var grid = $("#promobannerpictures-grid").data("kendoGrid");
            var code = (e.keyCode ? e.keyCode : e.which);
            if (code == 13) { // "Enter" keycode
                setTimeout(function () {
                    $('.k-grid-update').focus();
                    grid.saveRow();
                });
                return false;
            }
        });

        $('#addPromoBannerPicture').click(function () {
            var pictureId = $("#@Html.FieldIdFor(model => model.PictureId)").val();
            var promoRef = $("#@Html.FieldIdFor(model => model.PromoReference)").val();
            var displaySequence = $("#@Html.FieldIdFor(model => model.DisplaySequence)").val();
            var comment = $("#@Html.FieldIdFor(model => model.Comment)").val();
            var url = $("#@Html.FieldIdFor(model => model.Url)").val();
            var bannerId = $("#@Html.FieldIdFor(model => model.BannerId)").val();

            if (pictureId == 0) {
                alert('@T("Plugins.Widgets.QixolPromo.BannerPicture.Validation.Msg.1")');
                return;
            }

            $('#addPromoBannerPicture').attr('disabled', true);
            $.ajax({
                cache: false,
                type: "POST",
                url: "/Admin/PromoBanner/Admin/Banner/Add",
                data: { "bannerId": bannerId, "pictureId": pictureId, "promoRef": promoRef, "displaySequence": displaySequence, "url": url, "comment": comment },
                success: function (data) {
                    var grid = $("#promobannerpictures-grid");
                    grid.data('kendoGrid').dataSource.read();

                    // Reset the input fields
                    // picture
                    var removeButton = $('[id ^=picture][id $=remove]');
                    if (typeof removeButton != 'undefined') {
                        var clientId = removeButton.attr('id').replace('picture', '').replace('remove', '');
                        var imageDivId = 'picture' + clientId + 'image';
                        $('#picture' + clientId + 'image').html("<img src='@pictureService.GetDefaultPictureUrl(100)'/>");
                        $("#picture" + clientId + "value input").val(0);
                        $("#picture" + clientId).find(".qq-upload-list-selector").find("li").hide();
                        $(removeButton).hide();
                    }

                    // other fields
                    $('#addPromoBannerPicture').attr('disabled', false);
                    $("#@Html.FieldIdFor(model => model.PromoReference)").val("");

                    var numerictextbox = $("#@Html.FieldIdFor(model => model.DisplaySequence)").data("kendoNumericTextBox");
                    numerictextbox.value(0);

                    $("#@Html.FieldIdFor(model => model.Comment)").val("");
                    $("#@Html.FieldIdFor(model => model.Url)").val("");

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('@T("Plugins.Widgets.QixolPromo.BannerPicture.Failure.Msg")');
                    $('#addPromoBannerPicture').attr('disabled', false);
                }
            });
        });
    });
</script>
