@model string
@{
    
    string entityNameTitle = string.Empty;
    string hidePriority = "true";
    switch (Model)
    {
        case Qixol.Nop.Promo.Core.Domain.AttributeValues.EntityAttributeName.Store:
            entityNameTitle = T("Admin.Configuration.Stores.Fields.Name").ToString();
            break;
        case Qixol.Nop.Promo.Core.Domain.AttributeValues.EntityAttributeName.CustomerRole:
            hidePriority = "false";
            entityNameTitle = T("admin.customers.customerroles.fields.name").ToString();
            break;
        case Qixol.Nop.Promo.Core.Domain.AttributeValues.EntityAttributeName.DeliveryMethod:
            entityNameTitle = T("admin.configuration.shipping.methods.fields.name").ToString();
            break;
        case Qixol.Nop.Promo.Core.Domain.AttributeValues.EntityAttributeName.CheckoutAttribute:
            entityNameTitle = T("admin.catalog.attributes.checkoutattributes.fields.name").ToString();
            break;           
        default:
            break;
    }
    
}

<table class="adminContent" style="margin-top: 10px;">
    <tr>
        <td>
            <div id="integration-codes-stores-grid-@Model"></div>

            <script>
                $(document).ready(function () {

                    var columnsList = [{
                        field: "EntityName",
                        title: "@entityNameTitle"
                    }, {
                        field: "IntegrationCode",
                        title: "@T("Plugins.Misc.QixolPromo.Shared.IntegrationCode")"
                    }, {
                        field: "Priority",
                        title: "@T("Plugins.Misc.QixolPromo.Shared.Priority")",
                        hidden: @hidePriority,
                        format: "{0:0}"
                    }, {
                        field: "EntityId",
                        hidden: true,
                    }, {
                        field: "AttributeId",
                        hidden: true,
                    }, {
                        field: "EntityAttributeSystemName",
                        hidden: true,
                    },
                    {
                        command: [{
                            name: "edit",
                            text: "@T("Admin.Common.Edit")"
                        }],
                        width: 200,
                        filterable: false
                    }];

                    $("#integration-codes-stores-grid-@Model").kendoGrid({
                        dataSource: {
                            type: "json",
                            transport: {
                                read: {
                                    url: "@Html.Raw(Url.Action("IntegrationCodesList", "PromoAdmin", new { systemName = Model }))",
                                    type: "POST",
                                    dataType: "json",
                                    contentType: "application/json"
                                },
                                update: {
                                    url: "@Html.Raw(Url.Action("IntegrationCodeUpdate", "PromoAdmin"))",
                                    type: "POST",
                                    dataType: "json"
                                },
                                parameterMap: function (data, operation) {
                                    if (operation != "read") {
                                        return data;
                                    } else {
                                        //for some reasons only such "Filter" data be parsed
                                        return JSON.stringify(data);
                                    }
                                }
                            },
                            schema: {
                                data: "Data",
                                total: "Total",
                                errors: "Errors",
                                model: {
                                    id: "EntityId",
                                    fields: {
                                        EntityName: { editable: false, type: "string" },
                                        IntegrationCode: { editable: true, type: "string" },
                                        Priority: { editable: true, type: "number" },
                                        EntityId: { editable: false, type: "number" },
                                        EntityAttributeSystemName: { editable: false, type: "string" },
                                        AttributeId: { editable: false, type: "number" }
                                    }
                                }
                            },
                            requestEnd: function (e) {
                                if (e.type == "update") {
                                    this.read();
                                }
                            },
                            error: function(e) {
                                display_kendoui_grid_error(e);
                                // Cancel the changes
                                this.cancelChanges();
                            },
                            serverPaging: true,
                            serverFiltering: true,
                            serverSorting: true
                        },
                        pageable: {
                            refresh: true,
                            numeric: false,
                            previousNext: false,
                            info: false
                        },
                        scrollable: false,
                        editable: {
                            confirmation: false,
                            mode: "inline"
                        },
                        columns: columnsList
                    });

                    $("#integration-codes-stores-grid-@Model table").on("keydown", "tr", function (e) {
                        var grid = $("#integration-codes-stores-grid-@Model").data("kendoGrid");
                        var code = (e.keyCode ? e.keyCode : e.which);
                        if (code == 13) { // "Enter" keycode
                            setTimeout(function () {
                                $('.k-grid-update').focus();
                                grid.saveRow();
                            });
                            return false;
                        }
                    });

                    var grid = $("#integration-codes-stores-grid-@Model").data('kendoGrid');
                    grid.bind('save', integrationCodesGridSave);
                });
            </script>
        </td>
    </tr>
</table>