@model ProductBoxPromotionModel

<script type="text/javascript">

    $(document).ready(function () {
        var promotionDivHtml = $('#promotionImage[data-productid="@Model.Id"]').html();
        $('.product-item[data-productid="@Model.Id"]').find('.picture').before(promotionDivHtml);
    });

</script>

<style>
    
    .promotion
    {
        display: block;
        margin-bottom: 60px;
        position: absolute;
        z-index: 999;
    }

</style>

<div id="promotionImage" data-productid="@Model.Id" style="visibility: hidden;">
    <span class="promotion"><img alt="@Model.Id" src="@Model.ImageUrl" /></span>
</div>