@model MissedPromotionsModel

@using Qixol.Plugin.Misc.Promo.Models.MissedPromotions;

@{
    Layout = null;
}

@foreach (MissedPromotionBaseModel missedPromotion in Model.MissedPromotions)
{
    @*<tr><td></td><td>@missedPromotion.PromotionName</td><td></td></tr>*@
switch (missedPromotion.PromotionType)
{
    case "BOGOF":
        //MissedPromotionBogofModel mpBogof = (MissedPromotionBogofModel) missedPromotion;
        <tr>
            <td class="product-picture">
                @{
                    var matchedCartItemModel = missedPromotion.MatchedCartItemModels.FirstOrDefault();
                    if (matchedCartItemModel != null)
                    {
                        <div><a href="@Url.RouteUrl("Product", new { SeName = matchedCartItemModel.ProductSeName })"><img alt="@matchedCartItemModel.Picture.AlternateText" src="@matchedCartItemModel.Picture.ImageUrl" title="@matchedCartItemModel.Picture.Title" /></a></div>
                    }
                }
            </td>
            <td class="product">
                @if (matchedCartItemModel != null)
                {
                    <a href="@Url.RouteUrl("Product", new { SeName = matchedCartItemModel.ProductSeName })" class="product-name">@matchedCartItemModel.ProductName</a>
                    if (!String.IsNullOrEmpty(matchedCartItemModel.AttributeInfo))
                    {
                        <div class="attributes">
                            @Html.Raw(matchedCartItemModel.AttributeInfo)
                        </div>
                    }
                }
                @if (!string.IsNullOrEmpty(@missedPromotion.PromotionName))
                {
                    <div class="promotion-item">@missedPromotion.PromotionName</div>
                }
                else
                {
                    <div class="promotion-item">BOGOF</div>
                }
                @if (missedPromotion.AddToCartModel != null)
                {
                    var dataDictAddToCart = new ViewDataDictionary();
                    dataDictAddToCart.TemplateInfo.HtmlFieldPrefix = string.Format("addtocart_{0}", matchedCartItemModel.Id);
                    @Html.Partial("_AddToCart", missedPromotion.AddToCartModel, dataDictAddToCart)
                }
                @*@if (matchedCartItemModel != null)
                    {
                        var editCartItemUrl = Url.RouteUrl("Product", new { SeName = matchedCartItemModel.ProductSeName });
                        editCartItemUrl = webHelper.ModifyQueryString(editCartItemUrl, "updatecartitemid=" + matchedCartItemModel.Id, null);
                        <div class="edit-item">
                            <a href="@editCartItemUrl">@T("Common.Edit")</a>
                        </div>
                    }*@
            </td>
            <td class="unit-price"></td>
        </tr>
                        break;

                    case "BUNDLE":
                        <tr>
                            <td class="product-picture">
                                @*<a href="@Url.RouteUrl("Product", new { SeName = Model.ProductSeName })"><img alt="@Model.Picture.AlternateText" src="@Model.Picture.ImageUrl" title="@Model.Picture.Title" /></a>*@
                            </td>
                            <td class="product">
                                @if (!string.IsNullOrEmpty(@missedPromotion.PromotionName))
                                {
                                    <div class="promotion-item">@missedPromotion.PromotionName</div>
                                }
                                else
                                {
                                    <div class="promotion-item">BUNDLE</div>
                                }
                            </td>
                            <td class="unit-price"></td>
                        </tr>
                        break;

                    case "FREEPRODUCT":
                        <tr>
                            <td class="product-picture">
                                @*<a href="@Url.RouteUrl("Product", new { SeName = Model.ProductSeName })"><img alt="@Model.Picture.AlternateText" src="@Model.Picture.ImageUrl" title="@Model.Picture.Title" /></a>*@
                            </td>
                            <td class="product">
                                @if (!string.IsNullOrEmpty(@missedPromotion.PromotionName))
                                {
                                    <div class="promotion-item">@missedPromotion.PromotionName</div>
                                }
                                else
                                {
                                    <div class="promotion-item">FREEPRODUCT</div>
                                }
                            </td>
                            <td class="unit-price"></td>
                        </tr>
                        break;

                    default:
                        <tr>
                            <td class="product-picture">
                                @*<a href="@Url.RouteUrl("Product", new { SeName = Model.ProductSeName })"><img alt="@Model.Picture.AlternateText" src="@Model.Picture.ImageUrl" title="@Model.Picture.Title" /></a>*@
                            </td>
                            <td class="product">
                                @if (!string.IsNullOrEmpty(@missedPromotion.PromotionName))
                                {
                                    <div class="promotion-item">@missedPromotion.PromotionName</div>
                                }
                                else
                                {
                                    <div class="promotion-item">@missedPromotion.PromotionType</div>
                                }
                            </td>
                            <td class="unit-price"></td>
                        </tr>
                                break;
    }
}


