@model MissedPromotionsModel

@using Qixol.Plugin.Misc.Promo.Models.Checkout;
@using global::Nop.Web.Models.Catalog;
@using global::Nop.Core.Domain.Tax;
@using global::Nop.Core;
@using global::Nop.Core.Infrastructure;
@using global::Nop.Web.Models.ShoppingCart;

@{
    Html.AddScriptParts(ResourceLocation.Head, "~/Plugins/Misc.QixolPromo/Scripts/promo.ajaxcart.js");
}

<div class="table-wrapper">
    <table class="missed-promotions">
        <colgroup>
            <col style="width: 100px;" />
            <col style="width: 375px;"/>
            <col />
        </colgroup>
        <thead>
            <tr>
                <th class="product-picture">
                    @T("ShoppingCart.Image")
                </th>
                <th class="product">
                    @T("Plugins.Misc.QixolPromo.MissedPromotion(s)")
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.MissedPromotions.Count == 0)
            {
                <tr><td></td><td>There are no missed promotions</td><td></td></tr>
            }
            else
            {
                @Html.DisplayFor(mp => Model.MissedPromotions);
            }
        </tbody>
    </table>
</div>
<script>
    $(document).ready(function () {
        PromoAjaxCart.init();
    });

    function continueShopping() {
        $.ajax({
            cache: false,
            url: '@Url.RouteUrl("PromoContinueShopping")',
            type: 'post',
            success: function(response) { window.location = response.continue_shopping_url; },
            complete: function() { window.location = '@Url.RouteUrl("HomePage")'},
            error: function () { window.location = '@Url.RouteUrl("HomePage")' }
        });
    }

</script>