@model PromoBannerEditModel

@{
    Layout = "~/Administration/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = T("Plugins.Widgets.QixolPromo.Banner.Title").Text;
    var selectedTabIndex = 0;
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#qixolpromotionsbase-configurebanner").kendoTabStrip({
            animation: {
                open: {
                    effects: "fadeIn"
                }
            },
            select: tabstrip_on_tab_select
        });
    });

</script>    

<div class="section-header">
    <div class="title">
        <img src="@Url.Content("~/Administration/Content/images/ico-content.png")" alt="" />
        @T("Plugins.Widgets.QixolPromo.Banner.Header") @Model.BannerName @Html.ActionLink(string.Format("({0})", T("Plugins.Widgets.QixolPromo.Banner.BackToConfig")), "ConfigureWidget", "Widget", new { systemName = "Widgets.QixolPromo", selectTab = 2 }, null)
    </div>
</div>

<div id="qixolpromotionsbase-configurebanner">
    <ul>
        <li @Html.RenderSelectedTabIndex(0, selectedTabIndex)>
            @T("Plugins.Widgets.QixolPromo.Banner.Pictures")
        </li>
        <li @Html.RenderSelectedTabIndex(1, selectedTabIndex)>
            @T("Plugins.Widgets.QixolPromo.Banner.WidgetZones")
        </li>
    </ul>
    <div>
        @Html.Partial("_BannerPicturesList", Model.AddPromoBannerPictureModel)
    </div>
    <div>
        @Html.Partial("_BannerWidgetZonesList", Model.AddPromoBannerWidgetZoneModel)
    </div>
</div>