@model PromoBannerDisplayModel

@{
    Layout = null;
}

@if (Model.Pictures.Count == 1)
{
    var usePicture = Model.Pictures.First();

    <div class="banner-single-image">
        @Html.DisplayFor(m => usePicture)
    </div>
}
else
{
    if (Model.TransitionType.Equals(Qixol.Plugin.Widgets.Promo.Domain.NivoTransition.STACKHORIZONTAL.TransitionType))
    {
        <style>
            .stack-wrapper-horizontal img {
                width: @Model.Pictures.First().Width%;
            }
        </style>
        <div class="stack-wrapper-horizontal">
            @Html.DisplayFor(m => Model.Pictures)
        </div>
    }
    else
    {
        if (Model.TransitionType.Equals(Qixol.Plugin.Widgets.Promo.Domain.NivoTransition.STACKVERTICAL.TransitionType))
        {
            <div class="stack-wrapper-vertical">
                @Html.DisplayFor(m => Model.Pictures)
            </div>
        }
        else
        {
            <div class="banner-wrapper theme-custom" style="margin-top: 0px;">
                <div id="nivo-slider_@Model.BannerId" class="nivoSlider">
                    @Html.DisplayFor(m => Model.Pictures)
                </div>
            </div>

                <script type="text/javascript">
                    $(window).load(function () {
                        $('#nivo-slider_@Model.BannerId').nivoSlider();
                    });
                </script>
        }
    }
}
