@model IssuedCouponsModel

@using global::Nop.Core
@using global::Nop.Core.Infrastructure
@using global::Nop.Web.Models.ShoppingCart;
@using global::Nop.Web.Framework.Themes;

@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
}

@section left
{
    @Html.Action("CustomerNavigation", "Customer", new { selectedTabId = -10 @* NONE of CustomerNavigationEnum.xxx *@ })
}

<style>
    table.coupons tr:nth-child(2n) {
        background-color: #F6F6F6;
    }

</style>

<div class="page-title">
    <h1>@T("Account.MyAccount") - @T("Plugins.Misc.QixolPromo.Account.IssuedCoupons")</h1>
</div>
<div class="page-body">
    <table class="data-table coupons">
        <thead>
            <tr>
                <th class="a-center code">@T("Plugin.Misc.QixolPromo.Coupons.Code")</th>
                <th class="a-center status">@T("Plugin.Misc.QixolPromo.Coupons.Status")</th>
                <th class="a-center valid">@T("Plugin.Misc.QixolPromo.Coupons.ValidTo")</th>
                <th class="a-center valid">@T("Plugin.Misc.QixolPromo.Coupons.Description")</th>
            </tr>
        </thead>
        <tbody>
            @Html.DisplayFor(c => Model.Coupons)
        </tbody>
    </table>
</div>
