@model MissedPromotionUnknownModel

@using Qixol.Plugin.Misc.Promo.Models.Checkout;

@{
    Layout = null;
}

<tr>
    <td class="product-picture">
        <img alt="@Model.PromotionName" src="@Model.PromotionImageUrl" title="@Model.PromotionName" style="width: 80px;" />
    </td>
    <td class="product">
        <div class="promotion-item">@Model.PromotionName</div>
        @if (!string.IsNullOrEmpty(Model.SaveFrom))
        {
        <div>@T("Plugins.Misc.QixolPromo.SaveFrom")&nbsp;@Model.SaveFrom</div>
        }
    </td>
</tr>