@model MissedPromotionUnknownModel

@using Qixol.Plugin.Misc.Promo.Models.MissedPromotions;

@{
    Layout = null;
}

<tr>
    <td class="product-picture">
        <img alt="@Model.PromotionName" src="@Model.PromotionImageUrl" title="@Model.PromotionName" style="width: 80px;" />
    </td>
    <td class="product">
        @if (!string.IsNullOrEmpty(@Model.PromotionName))
        {
            <div class="promotion-item">@Model.PromotionName</div>
        }
        else
        {
            <div class="promotion-item">@Model.PromotionType</div>
        }
    </td>
</tr>