@model MissedPromotionBogorModel

@using Qixol.Plugin.Misc.Promo.Models.MissedPromotions;

@{
    Layout = null;
}

<tr>
    <td class="product-picture">
        @{
            var matchedCartItemModel = Model.MatchedCartItemModels.FirstOrDefault();
            if (matchedCartItemModel != null)
            {
                <div><a href="@Url.RouteUrl("Product", new { SeName = matchedCartItemModel.ProductSeName })"><img alt="@matchedCartItemModel.Picture.AlternateText" src="@matchedCartItemModel.Picture.ImageUrl" title="@matchedCartItemModel.Picture.Title" /></a></div>
            }
        }
    </td>
    <td class="product">
        @if (matchedCartItemModel != null)
        {
            <a href="@Url.RouteUrl("Product", new { SeName = matchedCartItemModel.ProductSeName })" class="product-name">@matchedCartItemModel.ProductName</a>
            if (!String.IsNullOrEmpty(matchedCartItemModel.AttributeInfo))
            {
                <div class="attributes">
                    @Html.Raw(matchedCartItemModel.AttributeInfo)
                </div>
            }
        }
        @if (!string.IsNullOrEmpty(@Model.PromotionName))
        {
            <div class="promotion-item">@Model.PromotionName</div>
        }
        else
        {
            <div class="promotion-item">BOGOF</div>
        }
        @if (Model.AddToCartModel != null)
        {
            var dataDictAddToCart = new ViewDataDictionary();
            dataDictAddToCart.TemplateInfo.HtmlFieldPrefix = string.Format("addtocart_{0}", matchedCartItemModel.Id);
            @Html.Partial("_AddToCart", Model.AddToCartModel, dataDictAddToCart)
        }
        @*@if (matchedCartItemModel != null)
            {
                var editCartItemUrl = Url.RouteUrl("Product", new { SeName = matchedCartItemModel.ProductSeName });
                editCartItemUrl = webHelper.ModifyQueryString(editCartItemUrl, "updatecartitemid=" + matchedCartItemModel.Id, null);
                <div class="edit-item">
                    <a href="@editCartItemUrl">@T("Common.Edit")</a>
                </div>
            }*@
    </td>
</tr>
